@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

*{
    font-family:'Bebas Neue', cursive;;
}

body{
    background-image: linear-gradient(to right, #6BA32F, #2FA340);
}

main{
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #1c6427c0;
    width: 600px;
    padding: 10px;
    margin: auto;
}
footer{
    font-size: 20pt;
    color: white;
}

h1{
    color: #3E8B2F;
    text-align: center;
    text-shadow: 1px 1px 2px #26571dc7;
}

h2{
    color: #8A992C;
}

p{
    text-align: justify;
    font-family: 'Hind', sans-serif;
}